$primary:#CEDEBD;
$secondary: #FCE8CA;

body{
    background-color: var(--primary);
}

main{
    height: 100px;
}

.banner{
    background-image: url('./assets/images/image1.png');
    width: 100vw;
    height: 100vh;
    background-size: cover; 
    background-position: center;
}
.img-book-shelf{
    height: 240px;
}

.book-cover-description{
    height: 500px;
}

@media (max-width: 727px) {
    #nav-bar-desktop{
        display: none;
}

.book-cover-description{
    height: 500px;
}
}

@import './node_modules/bootstrap/scss/bootstrap.scss'