<nav class="navbar justify-content-between">
  <div class="col d-none d-md-block">
    <a class="navbar-brand mx-5 " href="../index.html"><i class="bi bi-book"></i></a>
  </div>
  <div class="col input-group input-group-sm mx-3">
    <input type="text " placeholder="Search" class="col-xxl self-center form-control bg-secondary">
  </div>
  <div class=" col d-none d-md-block d-md-flex justify-content-end mx-4 align-items-center">
    <button class="btn btn-sm bg-secondary border"><a class="text-dark text-decoration-none"
        href="add-new-book.html">Add new book</a></button>
    <a class="text-dark text-decoration-none mx-2" href="home.html">Home</a>
    <a class="text-dark text-decoration-none mx-2" href="profile.html">Profile</a>
  </div>
</nav>