<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../style.css">
</head>
<body class="bg-primary">

  <header class="my-">
    <nav class="navbar justify-content-between row">
        <div class="col">
            <a class="navbar-brand mx-5" href="/index.html" ><i class="bi bi-book"></i></a>
        </div>

        
        <div class=" col d-flex justify-content-end mx-4">
            <a class="text-dark text-decoration-none mx-2" href="/views/home.html">Home</a>
            <a class="text-dark text-decoration-none mx-2" href="/views/login.html">Login</a>
            <a class="text-dark text-decoration-none mx-2" href="/views/create.html">Create Account</a>
        </div>
      </nav>
</header>    

<div class="row d-flex justify-content-center mt-5">
  <div class="col-sm-3 bg-secondary p-4 border border-black"> 
    <h2>Add new book</h2>
    <form action="">
      <div class="form-group d-grid gap-3">
        <label for="ISBN">ISBN</label>
        <input type="text" id="ISBN" class="form-control" >
        <label for="author">Author</label>
        <input type="text" id="author" class="form-control" >
        <label for="pages">Pages</label>
        <input type="text" id="pages" class="form-control" >
        <label for="description">Description</label>
        <textarea type="text" id="description" class="form-control"> </textarea>
        <label for="cover">Cover photo</label>
        <input type="file" name="" id="">
      </div>
      <div class="d-flex flex-row-reverse mt-3">
        <button class="btn btn-sm bg-primary align-self-end text-white">Add</button>
      </div>
    </form>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>